:root{
	--bg-color: #d7cec7;
	--profiler: #76323f;
	--boxer: #565656;
	--shadow: #c09f80;
	
}


#backgroundBodyColor{
	background-color: var(--bg-color);
}
.sideBuffer{
	/*background-color: aquamarine;*/
}

.navBar{
	/*background-color: aquamarine;*/
	position: relative;
	z-index: 1000;
	height: 50px;
}

.aboutBox{
	background-color: var(--profiler);
	width: 75%;
	
}

.introBox{
	background-color: var(--profiler);
	width: 75%;
}

.projectBox{
	background-color: var(--profiler);
	width: 75%;
	
}

.hobbiesBox{
	background-color: var(--profiler);
	width: 75%;
	
}

.sideBoxContent{
	background-color: var(--profiler);
	
}

.bottomBox{
	background-color: var(--boxer);
	height: 75px;
	z-index: -1000;
}

.bigMike{
	float: right;
	height: 100px;
	width: 150px;
	
}



/*CSS for Nav Bar*/
.marginItwithBr{
	margin: 1em 0 1em 0;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--boxer);
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}